<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="template :: header"></head>
<body>

    <div class="h-full flex flex-col items-center justify-center px-4 pt-8 mx-auto md:h-screen pt:mt-0 bg-gray-900">

        <!-- success registration message -->
        <div th:if="${param.successRegistration}">
            <div class="alert alert-success">
                You've successfully registered to our awesome app!
            </div>
        </div>

        <!-- error message -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or password.</div>
        </div>

        <!-- logout message -->
        <div th:if="${param.logout}">
            <div class="alert alert-info">You have been logged out.</div>
        </div>

        <!-- Card -->
        <div class="max-h-96 overflow-y-auto w-3/4 p-6 space-y-6 sm:p-8 rounded-lg shadow bg-gray-800">
            <h2 class="text-2xl font-bold text-white ">
                Sign In to platform
            </h2>

            <form th:action="@{/login}" method="post">
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="username"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Mta Username
                        </label>
                        <input type="text"
                               id="username"
                               name="username"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Your Mta Username"
                               required />
                    </div>
                    <div>
                        <label for="password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Password
                        </label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Your Password"
                               required />
                    </div>
                </div>
                <div class="flex items-start mb-6">
                    <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        New user?
                        <a th:href="@{/registration/discord}" class="text-blue-600 hover:underline dark:text-blue-500">
                            Register here
                        </a>.
                    </label>
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log In</button>
            </form>

        </div>
    </div>


<div th:replace="template :: scripts"></div>
</body>
</html>
