<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="template :: header"></head>
<body>

    <nav th:replace="template :: navbar"></nav>

    <div class="h-full flex flex-col items-center justify-center px-4 pt-8 mx-auto md:h-screen pt:mt-0 bg-gray-900">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1> Content </h1>
                <p>Put Your content inside the div.container </p>
            </div>
        </div>
    </div>

    <div th:replace="template :: scripts"></div>

</body>
</html>